* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 60px;
}

nav {
    background-color: black;
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    float: left;
    font-weight: 700;
    margin-top: 15px;
}

a {
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: white;
}

a:hover {
    background-color: #83D775;
    color: black;
}

.introContent {
    margin: 55px 350px;
}

.hero img {
    width: 100vw;
    height: 100vh;
    filter: blur(7px);
    transform: scale(1.1);
}