@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 2px 625px;
    font-size: 110px;
    font-family: 'Shizuru', cursive;
}


h1, h2, p {
    line-height: 2;
}

nav {
    background-color: black;
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    font-weight: 700;
    margin-top: 15px;
}

a {
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: white;
}

a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.introContent {
    width: 850px;
    margin: auto;
}

.hero img {
    width: 100vw;
    height: 100vh;
    filter: blur(7px);
    transform: scale(1.1);
    overflow: hidden;
}

.heroLogo {
    background-color: none;
    position: absolute;
    top: 15vh;
    left: 35vh;
    height: 800px;
    width: 1300px;
}

.card-group {
    margin: 55px 350px;
}

.card-img-top {
    height: 200px;
    width: auto;
    margin: auto;
}

.card-body {
    background-color: #EEEEEE ;
}

.card-title {
    font-weight: bolder;
}

footer {
    font-style: italic;
    color: #777777;
}